* {
  box-sizing: border-box;
}

:root {
  --theme-100: #ffffff;
  --theme-100-rgb: 255, 255, 255;
  --theme-200: #d2d3e0;
  --theme-200-rgb: 210, 211, 224;
  --theme-300: #858699;
  --theme-300-rgb: 133, 134, 153;
  --theme-400: #313248;
  --theme-400-rgb: 49, 50, 72;
  --theme-500: #2c2d3c;
  --theme-500-rgb: 44, 45, 60;
  --theme-600: #292a35;
  --theme-600-rgb: 41, 42, 53;
  --theme-700: #21232e;
  --theme-700-rgb: 33, 35, 46;
  --theme-800: #191a23;
  --theme-800-rgb: 25, 26, 35;
  --theme-900: #14151b;
  --theme-900-rgb: 20, 21, 27;
  --theme-danger: #c52828;
  --theme-danger-rgb: 197, 40, 40;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--theme-900);
  color: var(--theme-200);
  font-size: 14px;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
