.root {
    background: #292a35;
    border: 1px solid #313248;
    color: inherit;
    padding: .5rem .75rem;
    border-radius: .45rem;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
}