.root {
  margin: 1rem;
  padding: 1rem;
  background: rgba(25, 26, 35, 0.75);
  border: 1px solid #2c2d3c;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.45rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
