.root {
  appearance: none;
  padding: 1rem 2rem;
  background: var(--theme-800);
  color: var(--theme-100);
  border: 1px solid var(--theme-500);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.45rem;
  max-width: 100%;
  min-width: 24rem;
}

.root::backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.root form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
