.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 2rem;
    backdrop-filter: blur(1rem);
    background: rgba(25, 26, 35, .75);
    border-bottom: 1px solid #2c2d3c;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}