.root {
  appearance: none;
  border: none;
  background: var(--theme-900);
  color: var(--theme-100);
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.35rem;
  outline: 1px solid var(--theme-400);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
  transition: 0.25s ease;
}

.invalid {
  outline-color: var(--theme-danger);
}

.alert {
  background: var(--theme-danger);
  color: var(--theme-100);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
}

.root:focus {
  outline: 1px solid var(--theme-100);
  transition: 0.25s ease;
}
