.root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem .5rem;
    backdrop-filter: blur(1rem);
    background: rgba(25, 26, 35, .75);
    border-bottom: 1px solid #2c2d3c;
    position: sticky;
    top: 0rem;
}

.navigation {
    display: inline-flex;
    border-radius: .45rem;
    background: #21232e;
    border: 1px solid #2c2d3c;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    padding: .5rem 1rem;
    color: #858699;
    position: relative;
}

.navigation li:hover {
    color: #ffffff;
}

.navigation li.active {
    background: #2c2d3c;
    border-radius: .45rem;
    color: #ffffff;
}

.navigation li:not(:last-of-type):after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 50%;
    background: #2c2d3c;
    transform: translate(-0%, -50%);
}