.root {
  display: inline-flex;
  border-radius: 0.45rem;
  background: var(--theme-700);
  border: 1px solid var(--theme-500);
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.root li {
  color: var(--theme-300);
  position: relative;
  transition: 0.25s ease;
  border: 1px solid transparent;
}

.root li:hover {
  color: var(--theme-100);
  transition: 0.25s ease;
}

.root li.active {
  background: var(--theme-500);
  border-color: var(--theme-500);
  border-radius: 0.45rem;
  color: var(--theme-100);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05);
}

.root li:not(:last-of-type):after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1px;
  height: 50%;
  background: var(--theme-500);
  transform: translate(-0%, -50%);
}

.root li a {
  display: block;
  padding: 0.5rem 1rem;
}
