.root {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #191a23;
    border-radius: .45rem;
    text-align: center;
    margin: 1rem;
}

.root thead th,
.root tfoot th {
    padding: 1rem;
    border-top: 1px solid #2c2d3c;
    border-bottom: 1px solid #2c2d3c;
    background: #21232e;
}

.root thead th:first-of-type,
.root tfoot th:first-of-type {
    border-left: 1px solid #2c2d3c;
}

.root thead th:first-of-type {
    border-top-left-radius: .45rem;
}

.root thead th:last-of-type,
.root tfoot th:last-of-type {
    border-right: 1px solid #2c2d3c;
}

.root thead th:last-of-type {
    border-top-right-radius: .45rem;
}

.root tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: .45rem;
}

.root tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: .45rem;
}

.root tbody td {
    padding: 1rem;
    border-bottom: 1px solid #2c2d3c;
}

.root tbody td:first-of-type {
    border-left: 1px solid #2c2d3c;
}

.root tbody td:last-of-type {
    border-right: 1px solid #2c2d3c;
}

.root tfoot th {
    font-weight: normal;
}