.root {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--theme-800);
  border-radius: 0.45rem;
  text-align: center;
}

.root thead th,
.root tfoot th {
  padding: 1rem;
  border-top: 1px solid var(--theme-500);
  border-bottom: 1px solid var(--theme-500);
  background: var(--theme-700);
}

.root thead th:first-of-type,
.root tfoot th:first-of-type {
  border-left: 1px solid var(--theme-500);
}

.root thead th:first-of-type {
  border-top-left-radius: 0.45rem;
}

.root thead th:last-of-type,
.root tfoot th:last-of-type {
  border-right: 1px solid var(--theme-500);
}

.root thead th:last-of-type {
  border-top-right-radius: 0.45rem;
}

.root tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 0.45rem;
}

.root tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 0.45rem;
}

.root tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--theme-500);
}

.root tbody td:first-of-type {
  border-left: 1px solid var(--theme-500);
}

.root tbody td:last-of-type {
  border-right: 1px solid var(--theme-500);
}

.root tfoot th {
  font-weight: normal;
}
